@model MvcApp.Models.Employee
@{
    ViewBag.Title = "Details";
}
<h2>Employee Details</h2>
<table style="font-family:Arial">
    <tr>
        <td>
            <b>EmployeeId:</b>
        </td>
        <td>
            <b>@Model.EmployeeId</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Name:</b>
        </td>
        <td>
            <b>@Model.Name</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Gendar:</b>
        </td>
        <td>
            <b>@Model.Gendar</b>
        </td>
    </tr>
    <tr>
    <td>
        <b>City:</b>
    </td>
    <td>
        <b>@Model.City</b>
    </td>
    </tr>
</table>

